@font-face {
  font-family: "Air";
  src: url("../assets/fonts/PPAir-Regular.woff") format("woff"),
      url("../assets/fonts/PPAir-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Air";
  src: url("../assets/fonts/PPAir-Black.woff") format("woff"),
      url("../assets/fonts/PPAir-Black.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Air";
  src: url("../assets/fonts/PPAir-BlackItalic.woff") format("woff"),
      url("../assets/fonts/PPAir-BlackItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}


.colorscatcher {
  --name-rgba: 255, 255, 255, 0.65;
  color: rgba(var(--name-rgba));
  font-style: italic;
  font-weight: 700;
  font-size: clamp(1rem, 4vw, 2rem);
  padding: 0 .5rem;
  border: 5px solid #242424;
  border-bottom: unset;
  background-color: #1b1b1b;
  background-image:
    linear-gradient(90deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 45%, rgba(0, 0, 0, 0.25) 100%),
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120"><filter id="n"><feTurbulence type="fractalNoise" baseFrequency="0.95" numOctaves="1" seed="12"/><feColorMatrix type="matrix" values="0.33 0.33 0.33 0 0  0.33 0.33 0.33 0 0  0.33 0.33 0.33 0 0  0 0 0 1.35 -0.45"/></filter><rect width="120" height="120" filter="url(%23n)" opacity="0.28"/></svg>');
  background-size: 100% 100%, 140px 140px;
  background-repeat: repeat;
  background-blend-mode: soft-light;
}
