@font-face {
  font-family: "Air";
  src: url("../assets/fonts/PPAir-Regular.woff") format("woff"),
      url("../assets/fonts/PPAir-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Air";
  src: url("../assets/fonts/PPAir-Black.woff") format("woff"),
      url("../assets/fonts/PPAir-Black.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Air";
  src: url("../assets/fonts/PPAir-BlackItalic.woff") format("woff"),
      url("../assets/fonts/PPAir-BlackItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}


.colorscatcher {
  --name-rgba: 255, 255, 255, 0.65;
  color: rgba(var(--name-rgba));
  font-style: italic;
  font-weight: 700;
  font-size: clamp(1rem, 4vw, 2rem);
}
