.zoom-btns {
  color: var(--accent-color);
  font-family: var(--font-family-mono);
}

.swatch-count-btns {
  position: absolute;
  display: flex;
  right: var(--space-8);
  color: var(--accent-color);
  font-family: var(--font-family-mono);
}

.swatch-count-btns button {
  width: 2rem;
  height: fit-content;
}

.swatch-count-btns .swatch-count-display {
  font-family: var(--font-family-mono);
  display: inline-block;
  text-align: center;
}
